//  CARDS GRID LAYOUT
.cards {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    margin-top: 30px;
    max-width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 25%) 30% 20%;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "academy js php php"
        "academy js php php"
        "academy js php php"
        "academy js net extra"
        "qa js net extra"
        "qa js net extra"
        "qa java net extra"
        "qa java net extra";
}