// FLIP CARD HOVER EFFECT CARDS
.academy {
    grid-area: academy;
    @include flipcard($academy-color, $academy-color, white);

    .flip-card-back {
       @include center-content;

        a {
            text-decoration: none;
            color: white;
            padding: 10px 17px;
            background-color: rgb(35, 64, 190);
            border-radius: 3px;
        }
    }

}

.qa {
    grid-area: qa;
    @include flipcard($academy-color, $qa-color, white);

    .flip-card-front {
        font-size: 86px;
        text-transform: uppercase;
    }
}

.js {
    grid-area: js;
    @include flipcard($academy-color, $js-color, black);

    .flip-card-front {
        justify-content: flex-end;
        align-items: flex-end;

        p {
            font-size: 86px;
            font-weight: bold;
            margin: 0 10px;
        }
    }
}