html{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    padding:0 40px;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    min-height: 500px;

}

.container {
    height: 100vh;
    display: flex;
    margin:0 auto;
    max-width: 1200px;
    flex-direction: column;
    position: relative;
}

main {
    padding-top: 50%;
    width:100%;
    position: relative;
}

.plus {
    width:100%;
    background-color: rgb(226, 248, 226);
    line-height: 1.8;
    margin-bottom: 40px;
}