@keyframes background-slide {
    from {
        height: 0;
    }

    to {
        height: 50px;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    70% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.header-background {
    background-color: #fffbfb;
    position: fixed;
    top: 0;
    z-index: 10;
    height: 50px;
    left: 0;
    right: 0;
    animation-name: background-slide;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbfb;
    height: 50px;
    animation-name: opacity;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    z-index: 11;

    .header-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;

        .menu {
            display: flex;

            .bell {
                display: inline-block;

                .fa {
                    color: darkgrey;
                    font-size: 18px;
                    margin-top: 7px;
                    margin-right: 40px;

                    &:hover {
                        color: grey;
                        cursor: pointer;
                    }
                }
            }
            .profile {
   
                .hidden {
                    position: absolute;
                    top: -100vh;
                }

                .user-name {
                    label {
                        @include center-content;
                        position: absolute;
                        margin-left: 20px;
                        margin-bottom: 10px;
                        right: 0;

                        border-radius: 50%;
                        width: 7px;
                        height: 7px;
                        padding: 10px;

                        background: rgb(248, 205, 64);
                        color: white;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                .dropdown {
                    margin-top: 15px;
                    opacity: 0;
                    position: absolute;
                    right: 0;
                    top: 40px;
                    pointer-events: none;
                    background-color: #fff;
                    border-radius: 3px;
                    width: 150px;
                    height: 100px;
                    overflow: hidden;

                    .dropdown__name {
                        color: darkgrey;
                        font-size: 14px;
                        position: relative;
                        text-align: center;

                        &::after {
                            content: '';
                            width: 80%;
                            margin: 0 auto;
                            height: 1px;
                            background-color: darkgrey;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: -4px;
                        }
                    }

                    div {
                        text-align: left;
                        a {
                            display: inline-block;
                            text-decoration: none;
                            text-align: left;
                            margin: 5px 10px;
                            text-transform: capitalize;
                            color: rgb(70, 69, 69);

                        }

                        &:hover {
                            background-color: rgb(233, 225, 225);
                            cursor:pointer;

                            & a{
                                color: black;
                            }
                            
                        }
                    }
                }

                #dropdown-check:checked ~ .dropdown {
                    opacity: 1;
                    pointer-events: all;
                    background-color: #fff;
                }
            }
        }
    }
}
