@media screen and (max-width: 960px) {
    .container {
        max-width: 960px;
    }
    
    .cards {
        max-width:100%;
        height: 600px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 50% 25% 25%;
        grid-template-areas:
            "academy academy academy academy academy js js js js extra extra extra"
            "java java java java java java php php php php php php"
            "qa qa qa qa qa qa net net net net net net";
    }
}


@media screen and (max-height: 650px) {
    footer {
        position: static;
    }
}