@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

// SLIDE HOVER EFFECT MIXINS

@mixin basic-cover {
        @include center-content;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        font-size: 18px;
        transition: transform 300ms ease-in;
    
}

@mixin sub-slide-cards ($width, $height, $bg-color) {
    width:$width;
    height:$height;

    .cover {
        transform-origin: right;
        background-color: $bg-color;
    }

    &:hover>.cover {
        transform: scaleX(0);
    }
}

@mixin slide-card($scale-start,$scale-finish, $trans-origin, $bg-color, $font-size, $color: white) {
   
        position: relative;
        padding: 10px;
        font-style: normal;
        text-transform: capitalize;
        background-color: $academy-color;

        .cover {
            @include basic-cover;
            transform: $scale-start;
            // ----------
            transform-origin: $trans-origin;
            background-color: $bg-color;
            font-size: $font-size;
            color: $color;
        }
    

    &:hover>.cover {
        transform: $scale-finish;
    }
}

// FLIP CARD HOVER EFFECT MIXINS

@mixin flipcard ($back-color, $front-color, $text-color) {
    .flip-card-container {
        width: 100%;
        height: 100%;
        perspective: 800px;

        &:hover .flip-card {
            transform: rotateY(180deg);
        }
    }

    .flip-card {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 0.5s;
    }

    .flip-card-back,
    .flip-card-front {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        bottom: 0;
        backface-visibility: hidden;
    }

    .flip-card-back {
        background-color: $back-color;
        transform: rotateY(180deg);
        p{
            padding:10px;
        }
        
       
    }

    .flip-card-front {
        background-color: $front-color;
        color: $text-color;
        @include center-content;
    }
}




