.notifications-container{
    position: fixed;
    bottom:0;
    right:20px;

    .notification {
        width:180px;
        min-height:80px;
        border-radius: 3px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;

       .text {
            margin:0;
            width: 150px;
            color:white;
            font-size: 14px;

            .text-title {
                font-weight: bold;
                margin:5px;
            }

            .text-message{
                margin:5px;
            }
        }

        i {
          font-size: 18px;
          margin: 10px;
          color:white;
        }

    }
    
    .notification-success {
          background-color: rgba(51, 143, 8, 0.8);
          
    }

    .notification-error{
          background-color: rgba(184, 12, 20, 0.8);
          
    }
    .notification-warning{
          background-color: rgba(230, 208, 19, 0.8);
          
    }

}