// SLIDE HOVER EFFECT CARDS

.java {
    grid-area: java;
    @include slide-card(scaleY(1), scaleY(0), bottom, $java-color, 48px, white);
}

.php {
    grid-area: php;
    @include slide-card(scale(1), scale(0), top right, $php-color, 86px, black);

    .cover {
        font-style: italic;
    }
}

.net {
    grid-area: net;
    @include slide-card(scale(1), scale(0), bottom right, $net-color, 86px);
    
    .cover {
        text-transform: uppercase;
    }
}


// ------------------------EXTRA (events, blog, social)
.extra {
    grid-area: extra;
    display: flex;
    flex-direction: column;


    div {
        position: relative;
        @include center-content;

        p{
            padding:5px;
        }
    
        .cover {
            @include basic-cover;
            color: rgb(230, 237, 245);
            transform: scaleX(1);
        }
    }

    .events {
        @include sub-slide-cards(100%, 40%, $events-color);

        .show-content {
            height: 100%;
            overflow: hidden;
            align-items: flex-start;
        }

        &:hover .show-content {
            overflow-y: scroll;
            scrollbar-width: thin;
        }
    }

    .blog {
        @include sub-slide-cards(100%, 40%, $blog-color);
    }

    .social {
        @include sub-slide-cards(100%, 20%, $contacts-color);
        justify-content: space-around;

        a {
            margin-left: 10px;

            &:hover .fab {
                color: $events-color;
            }
        }

        .fab {
            color: black;
            font-size: 26px;
        }
    }
}