// colors
$qa-color: #66cc66;
$academy-color:rgb(253, 253, 249);
$js-color: #ffcc66;
$java-color: #cc3333;
$php-color: #9999cc;
$net-color: #663366;
$events-color: #3399ff;
$blog-color: #003399;
$contacts-color: #003366;
$error-color: #c6554d;
$success-color: #568b54;
$profile-letter-color: #f2900e;